.bg-login{
  background: linear-gradient( to bottom left, rgba(0, 59, 147, 0.8), rgba(4, 188, 250, 0.8)), url('./assets/bg-login.png');
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 60px;

}
.login-sec-2{
  width: 60%;
  margin-top: 80px;
}
.text-gray{
  color: #5252529E !important;
}
.gradient-border {
  background: transparent;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(90deg, white, white),
    linear-gradient(to bottom, #4C8AF8, #2B74F300);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 1px solid transparent;
  border-radius: 2rem;
}
.rounded-wrapper {
  border-radius: 20px; /* Adjust the border-radius for rounded corners */
  overflow: hidden; /* Ensure the inner content doesn't overflow the rounded corners */
}
 @media screen and (max-width:992px) {
  .login-sec-2{
    width: 90%;
  }
  .bg-login{
    padding: 100px 30px;
  }
 }
 .css-bu51j9-MuiPaper-root-MuiAppBar-root{
  background-color: white !important;
  padding: 0 10px !important;
 }
 .css-hyum1k-MuiToolbar-root{
  padding: 0 !important;
 }
 .nav-style{
  margin-left: 210px !important;
  background-color: #D9E2EF;
 }

 @media screen  and (max-width: 900px){
.nav-style{
  margin-left: 0 !important;
}  
 }